
.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.buttons{
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login{
    position:"relative";
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding-top: 3rem;
    height: 100%;
    padding-top:"relative";
    font-family:fantasy;
}
