.dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.dashboard .buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.dashboard .list{
    width: 10%;
}

@media all and (min-width: 768px) {
    .dashboard {
        margin-left: 200px;
    }
}