.dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.dashboard .buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.dashboard .list{
    width: 10%;
}