
.jumbotron {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("https://c.pxhere.com/images/4e/f5/1bad0b9b045c3e81a9b49bf2a965-1633004.jpg!d");
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.text-container{
  font-family: 'Roboto', sans-serif;
  margin-top: calc(100vh - 24rem);
  padding-left: 5rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-end;
  color: lightgrey;
}

p {
  font-weight: 300;
  
}


h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;

}
h1 span div{
  margin-left: 1rem;
  font-size: 5rem;
  font-weight: 900;
  font-style: normal;
  color: whitesmoke;
}