.Exercise{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

@media all and (min-width: 768px) {
    .Exercise {
        margin-left: 210px;
    }
}

.exerciseBody{
    display: flex;
    flex-direction: row;
}

.exerciseBody div{
    margin-right: 1rem;
}

h4 {
    margin: 20px 10px;
}