.calendar {
    transition: all 0.5s ease;
}

.buttons {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.popup{
    margin: 0rem 1rem;
}
.dot {
    height: 10px;
    width: 10px;
    background-image: linear-gradient(120deg, #e26aa2 0%, #bb5ad8 100%);
    border-radius: 50%;
    display: inline-block;
    border: 3px;
    font-size: xx-small;
    
    
  }
  
  .dot1 {
    height: 10px;
    width: 10px;
    background-image: linear-gradient(120deg, #19e28ea6 0%, #67e96da9 100%);
    border-radius: 50%;
    display: inline-block;
    border: 3px;
    font-size: xx-small;
    
    
    
  }

  .dot2 {
    height: 10px;
    width: 10px;
    background-image: linear-gradient(120deg, #5dbad656 0%, #579dd6 100%);
    border-radius: 50%;
    display: inline-block;
    border:3px;
    font-size: xx-small;
    
  }
  .dot3 {
    height: 10px;
    width: 10px;
    background-image: linear-gradient(120deg, #e7d8039c 0%, rgb(223, 195, 103) 100%);
    border-radius: 50%;
    display: inline-block;
    border: 3px;
    font-size: xx-small;
    
  }

.calendar th, .calendar td {
    padding: 1em 2em;
    max-width: 3px;
}

@media all and (max-width: 768px) {
    .calendar th, .calendar td {
        padding: 5px;
    }
}

.calendar th {
    background: #efefef;
}

.calendar td {
    text-align: center;
}

.calendar .today {
    font-weight: bold;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.calendar .active {
    background-image: linear-gradient(120deg, #5dbad656 0%, #579dd6 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .missed {
    background-image: linear-gradient(120deg, #e7d8039c 0%, rgb(223, 195, 103) 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .waiting {
    background-image: linear-gradient(120deg, #e26aa2 0%, #bb5ad8 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .done {
    background-image: linear-gradient(120deg, #19e28ea6 0%, #67e96da9 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.month-selector th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.month-cell:hover {
    background: #efefef;
    cursor: pointer;
}

.select-month-title {
    font-weight: bold;
    background: #efefef;
}

.toggle-month {
    text-align: center !important;
}

.toggle-month:hover, .week-day:hover {
    cursor: pointer;
    background: #efefef;
}

.arrow-icon {
    padding: 5px 0 0 5px;
}

.calendar .selected-day {
    color: white;
    font-weight: bold;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);       border-radius: 5%;
}

.paper {
    padding: .25em 1.5em 1.5em 1.5em;
    display: 'flex';
    overflow: 'auto';
    flex-direction: 'column'
}

svg.MuiSvgIcon-root {
    transition: 250ms ease;
}

svg.MuiSvgIcon-root:hover {
    cursor: pointer;
    opacity: .5;
}

.MuiGrid-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.calendButtons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 100px;
}

.calendButtons div {
    margin-right: 1rem;
}