.calendar {
    transition: all 0.5s ease;
}

.buttons {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar th, .calendar td {
    padding: 1em 2em;
    max-width: 3px;
}

@media all and (max-width: 768px) {
    .calendar th, .calendar td {
        padding: 5px;
    }
}

.calendar th {
    background: #efefef;
}

.calendar td {
    text-align: center;
}

.calendar .today {
    font-weight: bold;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.calendar .active {
    background-image: linear-gradient(120deg, #cccccc00 0%, #919191 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .missed {
    background-image: linear-gradient(120deg, #a08800 0%, #a5b100 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .waiting {
    background-image: linear-gradient(120deg, #ff8800 0%, #ff0000 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.calendar .done {
    background-image: linear-gradient(120deg, #00ff95 0%, #00ff0d 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.month-selector th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.month-cell:hover {
    background: #efefef;
    cursor: pointer;
}

.select-month-title {
    font-weight: bold;
    background: #efefef;
}

.toggle-month {
    text-align: center !important;
}

.toggle-month:hover, .week-day:hover {
    cursor: pointer;
    background: #efefef;
}

.arrow-icon {
    padding: 5px 0 0 5px;
}

.calendar .selected-day {
    color: white;
    font-weight: bold;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);       border-radius: 5%;
}

.paper {
    padding: .25em 1.5em 1.5em 1.5em;
    display: 'flex';
    overflow: 'auto';
    flex-direction: 'column'
}

svg.MuiSvgIcon-root {
    transition: 250ms ease;
}

svg.MuiSvgIcon-root:hover {
    cursor: pointer;
    opacity: .5;
}

.MuiGrid-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.calendButtons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 100px;
}

.calendButtons div {
    margin-right: 1rem;
}